[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simpleNeural"]
	path = simpleNeural
	url = https://github.com/cran/simpleNeural
